{% extends "base.html"%}

{% block content %}


	{% for post in posts %}
		
	<div class="row">
		<div class="col-xs-8 col-xs-offset-2">
			<div class="row clickable" onclick="redirectOnClick({{post.key().id()}});">
				<div class="col-xs-6 subject">
					{{ post.subject }}
				</div>
				<div class="col-xs-5 datefield">
					<div >{{ post.created.strftime("%B %d, %Y")}}</div>
				</div>
				<div class="col-xs-1 score">
					{{post.score}}
				</div>
			</div>
			<div class="row">
				<hr>
			</div>	
			<div class="row">
				<div class="col-xs-12 content">
					{{ post.content|safe}}
				</div>
			</div>
			<div class="row">
				<div class="error">{{errormessage}}</div>
			</div>
			{% if is_edit == True %}
				{% if is_owner == True %}
					<div class="row">
						<form method="post" action="/blog/delete/{{post.key().id()}}">
							<input class="button" type="submit" value="Delete Post"/>
							<button class="button" type="button" onclick="editPost({{post.key().id()}})">Edit Post</button>
							<button class="button" type="button" onclick="toggleCommentsVisibility()">Add Comments</button>
						</form>
					</div>
				 	{% else %} 
				 	<div class="row">
				 		<div class="col-xs-6">
				 			<button class="button" type="button" onclick="toggleCommentsVisibility()">Add Comments</button>
				 		</div>

				 		<div class="col-xs-6 thumb">
				 			<form method="post" class="sideform" action="/blog/thumbsdown/{{post.key().id()}}" id="downvote">
					 			<a onclick="submitForm('downvote');" style="font-weight: {{downvote}};">&#x1F44E</a>	
					 		</form>
					 		<form method="post" class="sideform" action="/blog/thumbsup/{{post.key().id()}}" id="upvote">
					 			<a onclick="submitForm('upvote');" style="font-weight: {{upvote}};">&#x1F44d</a>
					 		</form>
				 		</div>
				 	</div>
				{% endif %}
				<form method="post">
				 <!-- Comment Section -->
					 <div class="addcommentarea" id="addcommentsection">
						<div class="row">
							<div>
							<h3>Add Comment</h3>
							</div>
						</div>
						<div class="row">
							<textarea name="comment" class="col-xs-10 addcomment" value={{comment}}></textarea>
						</div>
						<div class="row">
							<input type="submit" value="Save Comment"/>
						</div>
					</div>
				</form>
				<div class="row">
					<h3 >Comments</h3>
				</div>
				<div class="row">
					<hr/>
				</div>
				{% for comment in comments %}
					<div class="row">
						<div class="col-xs-8 commentheader">{{comment.owner}} - {{comment.created.strftime("%B %d, %Y")}}</div>
						{% if comment.owner == login_name %}
							<form action="/blog/deletecomment" method="post" id="deletecomment">
								<div class="col-xs-2 commentactions">
									<input type="hidden" name="post_id" value="{{post.key().id()}}"/>
									<input type="hidden" name="comment_id" value="{{comment.key().id()}}"/>
									<a onclick="submitForm('deletecomment');">Delete</a>
								</div>
							</form>
							<div class="col-xs-2 commentactions" onclick="turnDivToTextArea({{comment.key().id()}})">
								<a>Edit</a>
							</div>
						{% endif %}
					</div>
					<form method="post" action="/blog/editcomment/{{comment.key().id()}}">
						<div class="row">
							<div class="col-xs-11 comment" id="{{comment.key().id()}}">
								{{comment.text}}
							</div>
						</div>
						<div class="row">
							<input type="hidden" name="postid" value="{{post.key().id()}}"/>
							<div class="col-xs-12 savebutton" id="save{{comment.key().id()}}">
								<input type=submit value="Save"/>
							</div>
						</div>
						<div class="row">
							<hr/>
						</div>	
					</form>
				{% endfor %}
			{% endif %}
		</div>
	</div>
	{% endfor %}
{% endblock %}